<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="application.css" type="text/css" />
	<script type="text/javascript" src="application.js"></script>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	</head>
	<body>
		<div class="icon-twitter-outer">

		</div>
		<div class="body-main">
			<h1><%= @title %></h1>
			<%= yield %>
		</div>
	</body>
</html>